@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

/* Backgrounds */

.bgFondo{
    max-width: 100vw;
    overflow-x: hidden;
}

.bgCard{
    width: 100vw;
    height: 70vh;
    position: absolute;
    justify-content: center;
    z-index: -1;
}

.bgCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Slideshow container */
.slideshow-container {
    width: 100vw;
    height: 800px;
    position: absolute;
    margin: auto;
    z-index: -1;
}

.slideshow-container .mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 1000px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/**Slide Show Imagenes**/


.bgDestinos{
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/*Menu de navegacion*/



.navBar {
    position: relative;
    padding: 15px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(83,92,145,1) 100%);
}

/*Logo/Nombre de la compañia*/


.menu-izquierda{
    float: left;
    display: flex;
    justify-content: start;
    align-content: center;
}
.menu-izquierda img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right    : 10px;
}
.navBar .menu-izquierda a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.6875rem;
    color: #F9F7F7;
}
.menu-izquierda p{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
}

.navBar .menu-izquierda:hover{
    transform: scale(1.3);
    transition-duration: 0.4s;
}


/*Diferentes Links*/

.navBar .menu-derecha a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.menu-derecha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-cen{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .9375rem;
    color: #F9F7F7;
}

.menu-cen li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
}

.menu-cen li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: #F9F7F7;
}

.menu-cen a:hover{
    transform: scale(1.3);
    transition-duration: 0.4s;
}

.vuelos-dwn {
    display: inline-block;
    position: relative;
    border-radius: 15px;
}

.vuelos-dwn-btn{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
    color: #F4F7F7;
    background-color: #535c9100;
}

.vuelos-dwn-btn:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
    border-radius: 10px;

}

.vuelos-dwn-options {
    display: none;
    position: absolute;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    overflow-y: hidden;
    overflow-x: hidden;
}


.vuelos-dwn:hover .vuelos-dwn-options {
    display: block;
    background-color: #535C91;
    transition-duration: 0.4s;

}

.vuelos-dwn-options a{
    display: block;
    color:  #F4F7F7;
    padding: 15px;
    text-decoration: none;
    padding:20px 40px;


}

.vuelos-dwn-options a:hover {
    display: flex;
    color: #F9F7F7;
    background-color: #ffffff4f;
    border-radius: 15px;
    transform: scale(0.9);
    transition-duration: 0.4s;
}



/* Boton CHECK-IN */
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-btn a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.menu-btn a .checkin{ 
    padding: 10px 10px;
    color: #F9F7F7;
    font-size: 16px; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 15px;
    background-color: rgba(83, 92, 145, 1);
    border: none;
}

.menu-btn a button:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
    filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.658));;
}

/*Cuadro del formulario de vuelo*/

.formulario-vuelos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    overflow: hidden;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

}

form fieldset{
    background-color: rgba(255, 255, 255, 0.901);
    border-radius: 13px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

form fieldset div{
    display: flex;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

form fieldset .trayectos{
    padding-left: 10px;
}

#origen{
    border-radius: 8px;
    width: auto;
    height: 26px;
}

#destino{
    border-radius: 8px;
    width: auto;
    height: 26px;
}

#fechas{
    border-radius: 8px;
    width: auto;
    height: 26px;
}

#hotel{
    border-radius: 8px;
    width: auto;
    height: 26px;
}
#num{
    border-radius: 8px;
    width: auto;
    height: 26px;
}

.boton-input{
    font-size:15px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.897);
    background:#638cb5;
    border:0px;
    width:140px;
    height:30px;
    border-radius: 13px;
}

.boton-input:hover{
    transform: scale(1.1);
    background-color: #535c91;
}

.rounded-checkbox {
    width:20px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}


/*Cuadro del formulario de vuelo*/

/*Iconos de redes sociales*/

.contenedorIconos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;

}

.contenedorIconos a{
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;

}

.contenedorIconos a img{
    width: 30px;
    height: 30px;}

.contenedorIconos a img:hover{
    transform: scale(1.2);
    
}

/*Parametros Main*/

.mainTravels{
    width: 100vw;}

/* Descripcion Ciudades/Paises */
.divInfo{
    position: relative;
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: center;}

.contDestino{
    display: flex;
    background-color: #0000008c;
    border-radius: 20px;
    padding: 10px 10px;
    flex-direction: column;
}

.paisDest {
    position: relative;
    text-align: start;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87);}

.ciudadDest{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.856);}

.desCiudad{
    position: relative;
    text-align: start;
    font-size: 18px;
    margin: 10px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.815);
}



.contDestino p{
    width: 800px;
}

/*Boton Compra*/
.compraDiv{
    position: relative;
    display: inline-block;
    flex-direction: column;
    margin-top: 40px;
}

.compraDiv p{
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.932);
    font-size: 35px;
    font-weight: 800;
    font-style: normal;
    text-align: end;
    letter-spacing: .0625rem;
    
}

.botonCompra{
    width: 200px;
    height: 80px;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    border: 1px;
    box-shadow: 5px 7px 3px -1px rgba(0,0,0,0.49);
}

.botonCompra p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;    
    font-weight: 500;
    letter-spacing: .0625rem;
}

/* Seccion Destinos Sugeridos */

.container-boton-destinos{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    top: 100px;
}


.contenedorDest{
    gap: 2.5rem;
    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.509);
    justify-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 4px rgba(26, 25, 25, 0.412);
}

.destinosRec{
    display: flex;
    align-items: center;
}

.destinosRec1{
    display: flex;
    align-items: center;
}


.destino .card-img {
    width: 350px;
    height: 400px;
    overflow: hidden;
    filter: grayscale(40%);
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
}



.dest-info{
    position: absolute;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: -90px;
    border-top-right-radius: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #535c91f6;
}

.dest-info .dest-pais{
    color: #fffffff5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 8px;
}

.dest-info .dest-ciudad{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fffffff5;
    letter-spacing: 3px;
    margin-left: 10px;

}

.botonCompra:hover{
    transform: scale(1.1);
}
/*Pseudo clases */ 
.contenedorDest .destino:hover{
    transform: scale(1.1);
    transition-duration: 0.10s;
    transition: 0.25s ease-in-out;
    filter: saturate(1.8);
    border-radius: 13px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.356));
}

.destino .card-img img:hover{
    filter: grayscale(0%) saturate(1.4);
    
}
/*Pseudo clases */ 
/*Pseudo Elemento*/
span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0);
    cursor: help;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 100px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
}
/*Pseudo Elemento*/



/*Seccion Hoteles*/
.divHotel{
    width: 100vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    z-index: -1;
}
/*Mini Seccion Reseñas*/
.reseñas-hotel{
    position: relative;
}

.reseña{
    display: flex;
    justify-content: center;
    gap: 6.25rem;
    padding: 40px 40px;
    align-items: center;
}
.titulo-reseña{
    text-align: center;
    color: #f2f2f2;
    font-size: 30px;
}
.cliente{
    display: flex;
    background-color: #ffffffdc;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 50px 40px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.div-img-cliente{
    width: 200px;
    height: 200px;
    padding: 20px 20px;
    align-content: center;
}
.div-img-cliente img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.cliente:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/*Mini Seccion Reseñas*/
.card-hotel{
    position: relative;
    width: 100%;
    height: 500px;
}

.hotel-img{ 
    width: 500px;
    height: 400px;
}
.textoDiv{
    position: absolute;
    top: 10%;
    left: 25%;
}

.divHotel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tituloHotel{
    font-size: 350px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgba(255, 255, 255, 0.855);
    letter-spacing: 5px;
}

.parrafoHotel{
    position: relative;
    top:100px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.855);
    font-size: 35px;
    letter-spacing: 15px;
}

.seccionHoteles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 50px;
}

.container-hoteles{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 40px 40px;
    justify-content: space-around;
    overflow: hidden;
}

.hotel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(27, 26, 85, 0.897);
    box-shadow: 1px 1px 23px -5px rgba(0,0,0,0.8);
}

.hotel-img {
    width: 550px;
    background: rgba(255, 255, 255, 0.905);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.hotel-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;}




.icono-img{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.hotel-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-right-radius:  10px;
    border-bottom-left-radius:  10px;
}




/* Rating Estrellas */
.rating{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.estrellas {
    font-size: 18px;
    color: rgb(255, 218, 7);
}

.divHotelInfo p{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.divHotelInfo p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
.divHotelInfo p:nth-child(2){
    font-size: 16px;
    font-weight: 400;

}
.divHotelInfo .disclaimer-info{
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.514);
}
/* Rating Estrellas */

/**Boton Reserva*/
.botonReserva{
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff9100c0;
    margin-top: 13px;
    padding: 13px;
    border-radius: 12px;
    align-content: center;
    transition: all 0.4s ease 0s;
}

.botonReserva:hover{
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    border-radius: 12px;
}
/**Boton Reserva*/
/** Pagina destinos **/

.destinosInternacionales{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(255, 255, 255, 0.753);
}

/* Destinos Cards Internacionales*/


.contenDest{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-content: center;
    gap: 2.1875rem;
    padding: 60px;
}

.contenDest .cardDest p{
    font-size: 20px;
    border: 1px solid black;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.card-img-dest{
    width: 280px;
    height: 500px;    
}

.card-img-dest img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Destinos Cards Nacionales */

.destNacionales{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(255, 255, 255, 0.753);
}

.contenDest2{
    display: grid;
    gap: 2.1875rem;
    padding: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

/* PAGINA VUELOS */

/**Vuelos Internacionales**/
.container-vuelos{
    position: relative;
    top: 9.375rem;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.titulo-vuelos-internacionales{
    text-align: center;
    color: white;
    font-size: 50px;
}

.vuelos-internacionales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}


.vuelos-nacionales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.boton-compra-vuelo{
    position: relative;
    background: linear-gradient(32deg, rgba(83,92,145,0.958420868347339) 0%, rgba(80,96,189,0.9472163865546218) 100%);
    padding: 10px 10px;
    border-radius: 15px;
    width: 80px;
}
.boton-compra-vuelo p{
    font-weight: 400;
    color: white;
}

.boton-compra-vuelo:hover{
    transform:  scale(1.1);

}

/**Card Vuelos**/
.vuelo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.vuelo:hover{
    box-shadow: rgba(0, 0, 0, 0.76) 0px 3px 8px;
    border: 1px rgba(0, 0, 0, 0.527) solid;
}
.vuelo-img{
    width: 355px;
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.vuelo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vuelo-img img:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}

.vuelo-info {
    display: flex;  
    width: 355px;
    flex-direction: column;
    padding: 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px rgba(0, 0, 0, 0.527) solid;
}

.vuelo-info h3{
    font-weight: 600;

}

.vuelo-destino{
    width: 200px    ;
}

.vuelo-info .vuelo-origen p:nth-child(3){
    font-weight: 500;
}

.vuelo-info .vuelo-destino p:nth-child(3){
    font-weight: 500;
}
/**Card Vuelos**/
/* PAGINA CONTACTO */




/*Responsive - Media Querries*/

@media (max-width: 2560px) {

}


@media (max-width: 1920px) {
}


@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}
@media (max-width: 599px) {

}


@media (max-width: 427px) {

}

@media (max-width: 376px) {

}

@media (max-width: 320px) {

}
