* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.destBariloche {  
    background-image: url(../assets/img/bariloche-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}    


/*Menu de navegacion*/

.navBar {
    width: 100%;
    height: 80px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.291);
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.295);
}

.menu-izq{
    display: flex;
    width: 400px;
    height: 55px;
    margin-top: 10px;
    font-family: "Righteous", sans-serif;
    font-size: 42px;   
    font-weight: 800; 
    font-style: normal;
}

.menu-izq a{
    display: flex;
    justify-content: center;
    width: 700px;
    text-decoration: none;
    
    
}


.menu-cen{
    position: relative;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 50px;
    gap: .9375rem;
}

.menu-cen li{
    position: relative;
    list-style: none;
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
}

.menu-cen li a {
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}


.menu-der{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 45px;
    margin-top: 15px;
}

.menu-der a {
    display: flex;
    justify-content: center;
    width: 150px;
    text-decoration: none;
}

.menu-der a button { 
    width: 150px;
    height: 45px;
    color: white;
    font-size: 20px; 
    font-weight: 400;
    border-radius: 15px;
    background-color: rgba(83, 92, 145, 1);
}


/*Texto de la pagina*/


/*Texto de la pagina*/

/* Descripcion Ciudades/Paises */

.mainTravels{
    position: relative;
    width: 100%;
    top: 10%;
    left: 8%;
    right: 8%;
}

.contDestino{
    position: relative;
    width: 650px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    border-radius: 30px;
    background-color:rgba(27, 26, 85, 0.821);
}

.paisDest {
    text-align: start;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.ciudadDest{
    position: relative; 
    
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.desCiudad{
    font-size: 18px;
    margin: 10px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.851);
}


/* Destinos Sugeridos */

.destinos{
    position: absolute;
    width: 80%;
    margin: 70px;
    margin-left: 10%;
    border-radius: 20px;
    height: 700px;
    background-color: bisque;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.cardDestinos {
    width: 95%;
    height: 95%;
    background-color: aqua;
}


/*Cuadro del formulario de vuelo*/



/*Cuadro del formulario de vuelo*/



/*Cuadro del formulario de vuelo*/

/*-Boton de compra*/


/*-Boton de compra*/


.footer{
    position: relative;
    text-align: center;
    top: 100%;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.599);
}

.footer p {
    color: white;
    text-align: center;
    padding: 20px;
}



