@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bgFondo {
  max-width: 100vw;
  overflow-x: hidden;
  z-index: 1;
}

.bgCard {
  position: absolute;
  width: 100vw;
  height: 70%;
  background: linear-gradient(rgba(0, 0, 0, 0.856));
  justify-content: center;
  z-index: -1;
}

.bgCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  margin-top: 50px;
  width: 100vw;
  height: 300px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  z-index: 1;
  padding: 20px;
}

.footer-section {
  padding: 0 10px;
}

/* Reset */
/**Header**/
.navBar {
  position: relative;
  padding: 15px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(83, 92, 145) 100%);
}

.menu-izquierda {
  float: left;
  display: flex;
  justify-content: start;
  align-content: center;
}
.menu-izquierda img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.menu-izquierda a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.6875rem;
  color: #F9F7F7;
}
.menu-izquierda a p {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
}
.menu-izquierda:hover {
  transform: scale(1.3);
  transition-duration: 0.4s;
}

.navBar .menu-derecha a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.menu-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-cen {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.9375rem;
  color: #F9F7F7;
}

.menu-cen li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

.menu-cen li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: #F9F7F7;
}

.menu-cen a:hover {
  transform: scale(1.3);
  transition-duration: 0.4s;
}

.vuelos-dwn {
  display: inline-block;
  position: relative;
  border-radius: 15px;
}

.vuelos-dwn-btn {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  color: #F4F7F7;
  background-color: rgba(83, 92, 145, 0);
}

.vuelos-dwn-btn:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
  border-radius: 10px;
}

.vuelos-dwn-options {
  display: none;
  position: absolute;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  overflow-x: hidden;
}

.vuelos-dwn:hover .vuelos-dwn-options {
  display: block;
  background-color: #535C91;
  transition-duration: 0.4s;
}

.vuelos-dwn-options a {
  display: block;
  color: #F4F7F7;
  padding: 15px;
  text-decoration: none;
  padding: 20px 40px;
}

.vuelos-dwn-options a:hover {
  display: flex;
  color: #F9F7F7;
  background-color: rgba(255, 255, 255, 0.3098039216);
  border-radius: 15px;
  transform: scale(0.9);
  transition-duration: 0.4s;
}

/* Boton CHECK-IN */
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.menu-btn a .checkin {
  padding: 10px 10px;
  color: #F9F7F7;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 15px;
  background-color: rgb(83, 92, 145);
  border: none;
}

.menu-btn a button:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
  filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.658));
}

/**Fin Header**/
.mainContacto {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-contacto {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.texto-contacto h1 {
  font-size: 50px;
  font-weight: 600;
  color: rgba(37, 37, 37, 0.815);
}

.texto-contacto h4 {
  font-size: 20px;
  color: rgba(37, 37, 37, 0.842);
  font-weight: 500;
}

.contenedorContacto {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 15px;
  margin-top: 80px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/**Form**/
#contacto {
  width: 550px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

#contacto fieldset {
  display: flex;
  border: medium none !important;
  width: 100%;
}

#contacto input[type=text],
#contacto input[type=email],
#contacto input[type=tel],
#contacto textarea {
  border: 1px solid rgba(0, 0, 0, 0.692);
  border-radius: 10px;
}

#contacto input[type=text],
#contacto input[type=email],
#contacto input[type=tel],
#contacto textarea {
  width: 450px;
  padding: 20px;
  background-color: white;
  margin: 25px;
}

#contacto input[type=text]:hover,
#contacto input[type=email]:hover,
#contacto input[type=tel]:hover,
#contacto textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #e00c0c;
}

#contacto textarea {
  height: 180px;
  width: 450px;
  resize: none;
}

#contacto button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 40px;
  padding: 10px;
  font-size: 15px;
  border-radius: 15px;
}

#contacto button[type=submit]:hover {
  transform: scale(0.9);
  transition-duration: 0.4s;
}

#contacto input:focus,
#contacto textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

#contacto .copyright {
  display: flex;
  justify-content: center;
}

/*Video*/
.video-contacto {
  width: 350px;
  height: 800px;
  top: 80px;
  left: 500px;
}

.video-contacto video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
}

/*Seccion Hoteles*/
.divHotel {
  position: relative;
  width: 100vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.card-hotel {
  position: relative;
  display: flex;
  justify-content: center;
}

.textoDiv {
  position: absolute;
  text-align: center;
}

.tituloHotel {
  font-size: 350px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgba(255, 255, 255, 0.855);
  letter-spacing: 5px;
}

.parrafoHotel {
  position: relative;
  top: 100px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.855);
  font-size: 35px;
  letter-spacing: 15px;
}

/*Mini Seccion Reseñas*/
.reseñas-hotel {
  position: relative;
}

.reseña {
  display: flex;
  justify-content: center;
  gap: 6.25rem;
  padding: 40px 40px;
  align-items: center;
}

.titulo-reseña {
  position: relative;
  text-align: center;
  color: #f2f2f2;
  font-size: 30px;
  background-color: rgb(52, 189, 189);
}

.cliente {
  display: flex;
  background-color: rgba(255, 255, 255, 0.862745098);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  padding: 50px 40px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.div-img-cliente {
  width: 200px;
  height: 200px;
  padding: 20px 20px;
  align-content: center;
}

.div-img-cliente img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.cliente:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*Mini Seccion Reseñas*/
.seccionHoteles {
  position: relative;
}

.container-hoteles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.hotel-img {
  width: 500px;
  height: 400px;
}

.hotel {
  width: 400px;
  background-color: #535C91;
}

.hotel:hover {
  transform: scale(0.98);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hotel-img {
  width: 400px;
  height: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.hotel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-info {
  background-color: rgba(242, 242, 242, 0);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Rating Estrellas */
.rating {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.estrellas {
  font-size: 18px;
  color: rgb(236, 211, 70);
}

.divHotelInfo {
  width: 400px;
}

.divHotelInfo p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  width: 350px;
}

.divHotelInfo p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}

.divHotelInfo p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

.divHotelInfo .disclaimer-info {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.514);
}

/* Rating Estrellas */
/**Boton Reserva*/
.botonReserva, .contenedorBoton .botonCompra {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(255, 145, 0, 0.7529411765);
  padding: 13px;
  margin: 25px;
  border-radius: 12px;
  align-content: center;
  transition: all 0.4s ease 0s;
}

.botonReserva:hover, .contenedorBoton .botonCompra:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
  border-radius: 12px;
}

/**Boton Reserva*/
.mainTravels {
  width: 100vw;
}

/*Iconos de redes sociales*/
.contenedorIconos {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.contenedorIconos a {
  text-decoration: none;
  padding: 5px;
  border-radius: 20px;
}

.contenedorIconos a img {
  width: 30px;
  height: 30px;
}

.contenedorIconos a img:hover {
  transform: scale(1.2);
}

/*Cuadro del formulario de vuelo*/
.formulario-vuelos {
  position: relative;
  justify-content: center;
  height: 300px;
  margin-top: 70px;
}

#form-vuelo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-vuelo fieldset {
  background-color: rgba(255, 255, 255, 0.901);
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#form-vuelo fieldset div {
  display: flex;
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#form-vuelo fieldset .trayectos {
  padding-left: 10px;
}

#origen {
  border-radius: 8px;
  width: auto;
  height: 26px;
}

#destino {
  border-radius: 8px;
  width: auto;
  height: 26px;
}

#fechas {
  border-radius: 8px;
  width: auto;
  height: 26px;
}

#hotel {
  border-radius: 8px;
  width: auto;
  height: 26px;
}

#num {
  border-radius: 8px;
  width: auto;
  height: 26px;
}

.boton-input {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.897);
  background: #638cb5;
  border: 0px;
  width: 140px;
  height: 30px;
  border-radius: 13px;
}

.boton-input:hover {
  transform: scale(1.1);
  background-color: #535c91;
}

.rounded-checkbox {
  width: 20px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}

/*Cuadro del formulario de vuelo*/
/* Slideshow container */
.slideshow-container {
  width: 100vw;
  height: 800px;
  position: absolute;
  margin: auto;
  z-index: -1;
}

.slideshow-container .mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Oculta las imagenes por defecto */
.mySlides {
  display: none;
  height: 1000px;
}

/* Next & previous botones */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posiciona el "next button" a  la derecha */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* En hover, añade un fondo de color negro color  */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Los dots/bullets/indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animacion */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/**Slide Show Imagenes**/
/* Descripcion Ciudades/Paises */
.divInfo {
  position: relative;
  display: flex;
  height: 550px;
  align-items: center;
  justify-content: center;
}

.contDestino {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5490196078);
  padding: 10px 10px;
  flex-direction: column;
  border-radius: 12px;
}

.paisDest {
  position: relative;
  text-align: start;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
}

.ciudadDest {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.856);
}

.desCiudad {
  position: relative;
  text-align: start;
  font-size: 18px;
  margin: 10px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.815);
}

.contDestino p {
  width: 800px;
}

.container-boton-destinos {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  top: 100px;
}

.contenedorDest {
  gap: 2.5rem;
  padding: 10px 15px 10px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  border-radius: 10px;
}

.destino .card-img {
  width: 350px;
  height: 400px;
  overflow: hidden;
  filter: grayscale(40%);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.dest-info {
  position: absolute;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: -90px;
  border-top-right-radius: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(83, 92, 145, 0.9647058824);
}

.dest-info .dest-pais {
  color: rgba(255, 255, 255, 0.9607843137);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 8px;
}

.dest-info .dest-ciudad {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9607843137);
  letter-spacing: 3px;
  margin-left: 10px;
}

/*Boton Compra*/
.compraDiv {
  position: relative;
  display: inline-block;
  flex-direction: column;
  margin-top: 40px;
  border-radius: 20px;
}

.container-boton-destinos .compraDiv p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 35px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.0625rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.container-boton-destinos .compraDiv p:nth-child(3) {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 35px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.0625rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.compraDiv div {
  width: 120px;
  height: 120px;
}

.compraDiv:hover div img {
  animation: jello-vertical 0.9s both;
  transition: 400ms;
}
@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1) rotate(-3deg);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1) rotate(-10deg);
  }
}

.compraDiv div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botonCompra {
  width: 200px;
  height: 80px;
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  border: 1px;
  box-shadow: 5px 7px 3px -1px rgba(0, 0, 0, 0.49);
}
.botonCompra p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  font-style: normal;
  color: white;
  font-weight: 500;
  letter-spacing: 0.0625rem;
}
.botonCompra:hover {
  transform: scale(1.1);
}

/*Boton Compra*/
/*Pseudo clases */
.contenedorDest .destino:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  transition: 0.25s ease-in-out;
  filter: saturate(1.6) drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.356));
  border-radius: 13px;
}

.destino .card-img img:hover {
  filter: grayscale(0%) saturate(1.4);
}

/*Pseudo clases */
/*Pseudo Elemento*/
span[data-descr] {
  position: relative;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0);
  cursor: help;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 100px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

.container-oferta {
  z-index: 1;
  margin-bottom: 50px;
}

.titulo-oferta h2 {
  text-align: center;
  font-size: 120px;
  font-weight: 700;
  color: white;
}

.titulo-oferta h3 {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  color: white;
}

.seccionOfertas {
  position: relative;
  margin-top: 200px;
}

.containerOfertas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.oferta {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 600px;
  background-color: #1B1A55;
  border-radius: 13px;
  align-items: center;
  margin: 30px;
}

.oferta:hover {
  transform: scale(0.98);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.oferta h5 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.oferta p {
  color: white;
  font-weight: 400;
  font-size: 13px;
}

.card-img-oferta {
  width: 510px;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.card-img-oferta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-oferta {
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #fff; /* change this to your desired text color */
  background-color: rgb(34, 255, 126); /* change this to your desired text background color */
  border-radius: 13px;
}

.text-rebaja {
  margin: 10px;
}

.text-rebaja p {
  text-align: center;
}

.oferta-info {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  gap: 7px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.623);
  width: 450px;
  border-bottom-left-radius: 13px;
}

.oferta:hover {
  transform: scale(1) translate(-15px);
  transition: 700ms;
}
.oferta:hover .oferta-info {
  transition: 600ms;
  background-color: transparent;
  height: 0;
}
.oferta:hover .oferta-info div {
  transition: 600ms;
  display: none;
}
.oferta:hover .oferta-info p {
  transition: 600ms;
  display: none;
}

.oferta-info div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.oferta-info div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.contenedorBoton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contenedorBoton .botonCompra {
  background-color: #FFFFFF;
}

.botonCompra:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
  border-radius: 12px;
}

.contenedorBoton .disclaimer-oferta {
  width: 100px;
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6509803922);
}

/**Vuelos Internacionales**/
.container-vuelos, .container-hoteles, .container-oferta {
  position: relative;
  top: 9.375rem;
  flex-direction: column;
  justify-content: center;
}

.container-vuelos .titulo-reseña, .container-hoteles .titulo-reseña, .container-oferta .titulo-reseña {
  background-color: rgb(39, 137, 230);
}

.titulo-vuelos-internacionales {
  position: relative;
  top: 9.375rem;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.vuelos-internacionales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/**Vuelos Nacionales**/
.titulo-vuelos-nacionales {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-vuelos-nacionales h2 {
  text-align: center;
  color: white;
  font-size: 110px;
  font-weight: 700;
}

.subtitulo-vuelos-nacionales {
  background: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.329));
  position: relative;
  height: 200px;
}

.subtitulo-vuelos-nacionales h3 {
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 6px;
  text-align: center;
}

.div-subt-img {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.div-subt-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.vuelos-nacionales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contenedor-reseña-nacional {
  position: relative;
}

.reseña-vuelo-nacional {
  display: flex;
  justify-content: center;
  gap: 6.25rem;
  padding: 40px 40px;
  align-items: center;
}

.boton-compra-vuelo {
  position: relative;
  background: linear-gradient(32deg, rgba(83, 92, 145, 0.9584208683) 0%, rgba(80, 96, 189, 0.9472163866) 100%);
  padding: 10px 10px;
  border-radius: 15px;
  width: 80px;
}

.boton-compra-vuelo p {
  font-weight: 400;
  color: white;
}

.boton-compra-vuelo:hover {
  transform: scale(1.1);
}

/**Card Vuelos**/
.vuelo, .hotel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.vuelo-origen p {
  width: 220px;
}

.vuelo-destino p {
  width: 220px;
}

.vuelo:hover, .hotel:hover {
  box-shadow: rgba(0, 0, 0, 0.76) 0px 3px 8px;
  border: 1px rgba(0, 0, 0, 0.527) solid;
}

.vuelo-img {
  width: 355px;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.vuelo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vuelo-img img:hover {
  transform: scale(1.2);
  transition: 1s ease-in-out;
}

.vuelo-info {
  display: flex;
  width: 355px;
  flex-direction: column;
  padding: 20px 20px 20px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px rgba(0, 0, 0, 0.527) solid;
}

.vuelo-info h3 {
  font-weight: 600;
}

.vuelo-destino {
  width: 200px;
}

.vuelo-info .vuelo-origen p:nth-child(3) {
  font-weight: 500;
  background-color: rgb(239, 255, 165);
}

.vuelo-info .vuelo-destino p:nth-child(3) {
  font-weight: 500;
  background-color: rgb(239, 255, 165);
}

/**Card Vuelos**/
@media screen and (max-width: 2200px) {
  .contenedorDest {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 500px;
  }
  .divHotel .card-hotel {
    display: flex;
    justify-content: center;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 300px;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .reseña {
    padding: 35px 35px;
  }
  .cliente {
    width: 370px;
    padding: 45px 35px;
  }
  /**Ofertas**/
  .containerOfertas {
    grid-template-columns: 1fr 1fr;
  }
  .oferta {
    margin: 25px;
    width: 650px;
  }
  .oferta-info {
    width: 500px;
  }
  /**Vuelos Internacionales**/
  .container-vuelos .titulo-reseña, .container-hoteles .titulo-reseña, .container-oferta .titulo-reseña {
    font-size: 50px;
  }
  .vuelos-internacionales {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .vuelo-info .boton-compra-vuelo {
    margin: 10px;
    margin-top: 15px;
  }
  /**Vuelos Nacionales**/
  .vuelos-nacionales {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .titulo-vuelos-nacionales h2 {
    font-size: 110px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1890px) {
  .contenedorDest {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .formulario-vuelos {
    position: relative;
    justify-content: center;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 500px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 270px;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 25px;
    letter-spacing: 10px;
    top: 60px;
  }
  .reseña {
    padding: 20px 20px;
  }
  .cliente {
    width: 350px;
    padding: 20px 30px;
  }
  .container-hoteles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /**Ofertas**/
  .oferta {
    margin: 20px;
    width: 570px;
  }
  .oferta-info {
    width: 420px;
  }
  /**Vuelos Internacionales**/
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .vuelo-info .boton-compra-vuelo {
    margin: 10px;
    margin-top: 15px;
  }
  /**Vuelos Nacionales**/
  .container-vuelos .titulo-reseña, .container-hoteles .titulo-reseña, .container-oferta .titulo-reseña {
    font-size: 40px;
  }
  .vuelos-nacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .titulo-vuelos-nacionales {
    height: 500px;
  }
  .subtitulo-vuelos-nacionales {
    height: 200px;
  }
  .titulo-vuelos-nacionales h2 {
    font-size: 110px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1240px) {
  .contenedorDest {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .formulario-vuelos {
    position: relative;
    justify-content: center;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 500px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 220px;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 25px;
    letter-spacing: 10px;
    top: 60px;
  }
  .reseña {
    padding: 20px 20px;
    gap: 50px;
  }
  .cliente {
    width: 290px;
    padding: 10px 15px;
  }
  .container-hoteles {
    grid-template-columns: 1fr 1fr;
  }
  /**Ofertas**/
  .oferta {
    margin: 15px;
    width: 480px;
  }
  .oferta-info {
    width: 330px;
  }
  /**Vuelos Internacionales**/
  .titulo-vuelos-internacionales {
    font-size: 40px;
    top: 100px;
  }
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  /**Vuelos Nacionales**/
  .container-vuelos .titulo-reseña, .container-hoteles .titulo-reseña, .container-oferta .titulo-reseña {
    font-size: 40px;
  }
  .vuelos-nacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .titulo-vuelos-nacionales {
    height: 500px;
  }
  .subtitulo-vuelos-nacionales {
    height: 200px;
  }
  .titulo-vuelos-nacionales h2 {
    font-size: 80px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1023px) {
  .navBar {
    flex-direction: column;
  }
  .contenedorIconos {
    justify-content: flex-start;
  }
  .contenedorDest {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .formulario-vuelos {
    position: relative;
    justify-content: center;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 500px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 200px;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 25px;
    letter-spacing: 10px;
    top: 60px;
  }
  .reseña {
    padding: 20px 20px;
    gap: 40px;
  }
  .cliente {
    width: 280px;
    padding: 10px 15px;
  }
  .container-hoteles {
    grid-template-columns: 1fr 1fr;
  }
  /**Ofertas**/
  .containerOfertas {
    display: flex;
    flex-wrap: wrap;
  }
  .oferta {
    margin: 25px;
    width: 650px;
  }
  .oferta-info {
    width: 500px;
  }
  /**Vuelos Nacionales**/
  .titulo-vuelos-nacionales h2 {
    font-size: 70px;
    font-weight: 600;
  }
  .reseña-vuelo-nacional {
    gap: 20px;
  }
}
@media screen and (max-width: 907px) {
  .navBar {
    flex-direction: column;
  }
  .menu-cen {
    gap: 0px;
  }
  .menu-cen li {
    font-size: 15px;
  }
  .contenedorDest {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .formulario-vuelos {
    position: relative;
    justify-content: center;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 500px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 150px;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 25px;
    letter-spacing: 10px;
    top: 60px;
  }
  .reseña {
    padding: 20px 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .cliente {
    width: 250px;
    padding: 0px;
  }
  .container-hoteles {
    grid-template-columns: 1fr;
  }
  /**Ofertas**/
  .titulo-oferta h2 {
    font-size: 100px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 60px;
  }
  .oferta {
    margin: 25px;
    width: 650px;
  }
  .oferta-info {
    width: 500px;
  }
  /**Vuelos Internacionales**/
  .titulo-vuelos-nacionales .container-vuelos, .titulo-vuelos-nacionales .container-hoteles, .titulo-vuelos-nacionales .container-oferta {
    top: 80px;
  }
  .titulo-vuelos-internacionales {
    font-size: 35px;
    top: 80px;
  }
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  /**Vuelos Nacionales**/
  .titulo-vuelos-nacionales h2 {
    font-size: 50px;
    font-weight: 600;
  }
}
@media screen and (max-width: 767px) {
  .navBar {
    align-items: stretch;
    justify-content: space-evenly;
  }
  .menue-izquierda {
    float: left;
  }
  .menue-izquierda img {
    width: 40px;
    height: 40px;
  }
  .menu-derecha {
    flex-direction: column;
  }
  .menu-derecha .menu-cen {
    flex-direction: column;
    gap: 0px;
  }
  .menu-derecha .menu-cen li {
    font-size: 12px;
  }
  .menu-derecha .navBar .menu-derecha a {
    float: none;
    font-size: 8px;
    padding: 4px 6px;
  }
  .contenedorDest {
    grid-template-columns: 1fr;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 500px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 120px;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 25px;
    letter-spacing: 5px;
    top: 40px;
  }
  .cliente p {
    padding: 10px;
  }
  .reseña {
    gap: 15px;
  }
  .container-hoteles {
    grid-template-columns: 1fr;
  }
  /**Ofertas**/
  .container-oferta {
    top: 0px;
  }
  .titulo-oferta h2 {
    font-size: 100px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 60px;
  }
  .oferta {
    margin: 25px;
    width: 550px;
  }
  .oferta-info {
    width: 400px;
  }
  /**Vuelos Internacionales**/
  .titulo-vuelos-internacionales {
    font-size: 25px;
    top: 60px;
    margin-bottom: 60px;
  }
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  /**Vuelos Nacionales**/
  .titulo-vuelos-nacionales .container-vuelos, .titulo-vuelos-nacionales .container-hoteles, .titulo-vuelos-nacionales .container-oferta {
    top: 20px;
  }
  .titulo-vuelos-nacionales {
    height: 200px;
  }
  .titulo-vuelos-nacionales h2 {
    font-size: 45px;
    font-weight: 600;
  }
  .reseña-vuelo-nacional {
    flex-wrap: wrap;
    gap: 10px;
  }
  .subtitulo-vuelos-nacionales h3 {
    padding-top: 40px;
    font-size: 70px;
  }
}
@media screen and (max-width: 560px) {
  .navBar {
    align-items: stretch;
    justify-content: space-evenly;
  }
  .menue-izquierda {
    float: left;
  }
  .menue-izquierda img {
    width: 40px;
    height: 40px;
  }
  .menu-derecha {
    flex-direction: column;
  }
  .menu-derecha .menu-cen {
    flex-direction: column;
    gap: 0px;
  }
  .menu-derecha .menu-cen li {
    font-size: 12px;
  }
  .menu-derecha .navBar .menu-derecha a {
    float: none;
    font-size: 8px;
    padding: 4px 6px;
  }
  .contenedorDest {
    grid-template-columns: 1fr;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 350px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 103px;
    font-weight: 700;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 20px;
    letter-spacing: 3px;
    top: 40px;
    font-weight: 600;
  }
  .cliente p {
    padding: 10px;
  }
  .reseña {
    gap: 15px;
  }
  .container-hoteles {
    grid-template-columns: 1fr;
    top: 10px;
  }
  /**Ofertas**/
  .container-oferta {
    top: 50px;
  }
  .titulo-oferta h2 {
    font-size: 70px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 40px;
  }
  .oferta {
    margin: 25px;
    width: 450px;
  }
  .oferta p {
    font-weight: 300;
  }
  .oferta-info {
    width: 300px;
    height: 135px;
    padding: 15px;
  }
  /**Vuelos Internacionales**/
  .titulo-vuelos-internacionales {
    font-size: 25px;
    top: 40px;
    margin-bottom: 20px;
  }
  .container-vuelos, .container-hoteles, .container-oferta {
    top: 40px;
  }
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .navBar {
    align-items: stretch;
    justify-content: space-evenly;
  }
  .menue-izquierda {
    float: left;
  }
  .menue-izquierda img {
    width: 40px;
    height: 40px;
  }
  .menu-derecha {
    flex-direction: column;
  }
  .menu-derecha .menu-cen {
    flex-direction: column;
    gap: 0px;
  }
  .menu-derecha .menu-cen li {
    font-size: 12px;
  }
  .menu-derecha .navBar .menu-derecha a {
    float: none;
    font-size: 8px;
    padding: 4px 6px;
  }
  .contenedorDest {
    grid-template-columns: 1fr;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 350px;
  }
  .divHotel .card-hotel .textoDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 70px;
    font-weight: 700;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .cliente p {
    padding: 10px;
  }
  .reseña {
    gap: 15px;
  }
  .container-hoteles {
    grid-template-columns: 1fr;
    top: 10px;
  }
  .div-img-cliente {
    padding: 22px 22px;
  }
  .hotel {
    margin-bottom: 0px;
    width: 380px;
    height: 500px;
  }
  /**Ofertas**/
  .titulo-oferta h2 {
    font-size: 40px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 30px;
  }
  .oferta {
    margin: 25px;
    width: 375px;
  }
  .oferta-info {
    width: 225px;
  }
  /**Ofertas**/
  .container-oferta {
    top: 50px;
  }
  .titulo-oferta h2 {
    font-size: 70px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 40px;
  }
  .oferta {
    margin: 25px;
    width: 376px;
  }
  .oferta h5 {
    font-weight: 500;
    font-size: 12px;
  }
  .oferta p {
    font-size: 11px;
    font-weight: 300;
  }
  .oferta-info {
    width: 267px;
    height: 135px;
    padding: 15px;
    overflow: hidden;
  }
  .contenedorBoton {
    width: 110px;
  }
  .contenedorBoton .botonCompra {
    width: 80px;
    height: 43px;
  }
  .disclaimer-oferta {
    padding: 10px;
    text-align: center;
  }
  /**Vuelos Internacionales**/
  .titulo-vuelos-internacionales {
    font-size: 20px;
    top: 40px;
    margin-bottom: 20px;
  }
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  /**Vuelos Nacionales**/
  .titulo-vuelos-nacionales .container-vuelos, .titulo-vuelos-nacionales .container-hoteles, .titulo-vuelos-nacionales .container-oferta {
    top: 20px;
  }
  .titulo-vuelos-nacionales {
    height: 100px;
  }
  .container-vuelos .titulo-reseña, .container-hoteles .titulo-reseña, .container-oferta .titulo-reseña {
    font-size: 25px;
  }
  .titulo-vuelos-nacionales h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .reseña-vuelo-nacional {
    flex-wrap: wrap;
    gap: 10px;
  }
  .subtitulo-vuelos-nacionales h3 {
    padding-top: 40px;
    font-size: 55px;
  }
}
@media screen and (max-width: 378px) {
  .navBar {
    align-items: stretch;
    justify-content: space-evenly;
  }
  .menue-izquierda {
    float: left;
  }
  .menue-izquierda img {
    width: 40px;
    height: 40px;
  }
  .menu-derecha {
    flex-direction: column;
  }
  .menu-derecha .menu-cen {
    flex-direction: column;
    gap: 0px;
  }
  .menu-derecha .menu-cen li {
    font-size: 12px;
  }
  .menu-derecha .navBar .menu-derecha a {
    float: none;
    font-size: 8px;
    padding: 4px 6px;
  }
  .contenedorDest {
    grid-template-columns: 1fr;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 350px;
  }
  .divHotel .card-hotel .textoDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 60px;
    font-weight: 700;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .cliente p {
    padding: 8px;
  }
  .rating {
    margin: 5px;
  }
  .reseña {
    gap: 6px;
  }
  .div-img-cliente {
    padding: 25px 25px;
  }
  .container-hoteles {
    grid-template-columns: 1fr;
    top: 10px;
  }
  .hotel {
    margin-bottom: 0px;
    width: 310px;
    height: 500px;
  }
  /**Ofertas**/
  .container-oferta {
    top: 50px;
  }
  .titulo-oferta h2 {
    font-size: 70px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 30px;
  }
  .seccionOfertas {
    margin-top: 40px;
  }
  .oferta {
    margin: 25px;
    width: 319px;
  }
  .oferta h5 {
    font-weight: 500;
    font-size: 12px;
  }
  .oferta p {
    font-size: 11px;
    font-weight: 300;
  }
  .oferta-info {
    width: 210px;
    height: 135px;
    padding: 8px;
    overflow: hidden;
  }
  .contenedorBoton {
    width: 110px;
  }
  .contenedorBoton .botonCompra {
    width: 80px;
    height: 43px;
  }
  .disclaimer-oferta {
    padding: 10px;
    text-align: center;
  }
  /**Vuelos Internacionales**/
  .titulo-vuelos-internacionales {
    font-size: 17px;
    top: 40px;
    margin-bottom: 0px;
  }
  .container-vuelos, .container-hoteles, .container-oferta {
    top: 20px;
  }
  .vuelos-internacionales {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  .vuelo-img {
    width: 315px;
    height: 360px;
  }
  .vuelo-info {
    width: 315px;
  }
  .vuelo-info .boton-compra-vuelo {
    margin: 10px;
  }
}
@media screen and (max-width: 321px) {
  .navBar {
    align-items: stretch;
    justify-content: space-evenly;
  }
  .contenedorDest {
    grid-template-columns: 1fr;
  }
  /**HOTEL**/
  .divHotel {
    width: 100%;
    height: 350px;
  }
  .divHotel .card-hotel .textoDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .divHotel .card-hotel .textoDiv .tituloHotel {
    font-size: 60px;
    font-weight: 700;
  }
  .divHotel .card-hotel .textoDiv .parrafoHotel {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .cliente p {
    padding: 8px;
  }
  .rating {
    margin: 5px;
  }
  .reseña {
    gap: 6px;
  }
  .div-img-cliente {
    padding: 30px 30px;
  }
  .container-hoteles {
    grid-template-columns: 1fr;
    top: 10px;
  }
  /**Ofertas**/
  .container-oferta {
    top: 30px;
  }
  .titulo-oferta h2 {
    font-size: 50px;
    font-weight: 600;
  }
  .titulo-oferta h3 {
    font-size: 23px;
  }
  .seccionOfertas {
    margin-top: 40px;
  }
  .oferta {
    margin: 25px;
    width: 280px;
  }
  .oferta h5 {
    font-weight: 500;
    font-size: 12px;
  }
  .oferta p {
    font-size: 11px;
    font-weight: 300;
  }
  .oferta-info {
    width: 170px;
    height: 135px;
    padding: 8px;
    overflow: hidden;
  }
  .contenedorBoton {
    width: 110px;
  }
  .contenedorBoton .botonCompra {
    width: 80px;
    height: 43px;
  }
  .disclaimer-oferta {
    padding: 10px;
    text-align: center;
  }
  /**Vuelos Nacionales**/
  .titulo-vuelos-nacionales {
    height: 300px;
  }
  .titulo-vuelos-nacionales h2 {
    font-size: 25px;
  }
  .subtitulo-vuelos-nacionales h3 {
    padding-top: 50px;
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
