/**Header**/
.navBar{    
        position: relative;
        padding: 15px;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(83,92,145,1) 100%);
}

.menu-izquierda{
    float: left;
    display: flex;
    justify-content: start;
    align-content: center;
    img{
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;}
    a {   
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 1.6875rem;
        color: #F9F7F7;
        p {
            font-family: "Righteous", sans-serif;
            font-weight: 400;
        }}
    &:hover{
            transform: scale(1.3);
            transition-duration: 0.4s;}}



.navBar .menu-derecha a{
    font-size: 16px;
    padding: 7px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.menu-derecha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-cen{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .9375rem;
    color: #F9F7F7;
}

.menu-cen li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
}

.menu-cen li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: #F9F7F7;
}

.menu-cen a:hover{
    transform: scale(1.3);
    transition-duration: 0.4s;
}

.vuelos-dropdown{
    display: inline-block;
    position: relative;
}

.vuelos-dropdown button{
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 10px;
}
.vuelos-dropdown button:hover{
    transform: scale(1.3);
    transition-duration: 0.4s;
}

.vuelos-contenido {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #535C91;
    overflow: auto;
    border-radius: 12px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.vuelos-dropdown:hover .vuelos-contenido{
    display: block;
    margin: 0;
    transform: scale(1);
    transition-duration: 400ms;
}

.vuelos-contenido a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.vuelos-contenido a:hover {
    position: relative;
    top: -15px;
    color: #FFFFFF;
    background-color: #00A4BD;
}
/* Boton CHECK-IN */
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-btn a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.menu-btn a .checkin{ 
    padding: 10px 10px;
    color: #F9F7F7;
    font-size: 16px; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 15px;
    background-color: rgba(83, 92, 145, 1);
    border: none;
}

.menu-btn a button:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
    filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.658));;
}

/**Fin Header**/

