@media screen and (max-width:480px){
    .navBar {
        align-items: stretch;
        justify-content: space-evenly;
    }
    .menue-izquierda{
        float: left;
        img{
            width: 40px;
            height: 40px;
        }
    }
    
    .menu-derecha{
        flex-direction: column;
        .menu-cen{
            flex-direction: column;
            gap: 0px;
            li{
                font-size: 12px;
            }
        }
        .navBar .menu-derecha a{
            float: none;
            font-size: 8px;
            padding: 4px 6px;
        }
        
    }
    .contenedorDest{
        display: flex;
        flex-wrap: wrap;
    }
    /**HOTEL**/
    .divHotel{
        width: 100%;
        height: 350px;

        .card-hotel{
            .textoDiv{ 
                display: flex;
                flex-direction: column;
                gap: 20px;
                .tituloHotel{
                    font-size: 70px;
                    font-weight: 700;
                }
                .parrafoHotel{
                    font-size: 13px;
                    letter-spacing: 3px;
                    font-weight: 600;
                }
            }
        }
    }
    
    .cliente p{
        padding: 10px;
    }
    .reseña{
        gap: 15px;
    }

    .container-hoteles{
        grid-template-columns: 1fr ;
        top: 10px;
    }
    .div-img-cliente{
        padding: 22px 22px;
    }

    .hotel{
        margin-bottom: 0px;
        width: 380px;
        height: 500px;
    }
    /**Ofertas**/
    .titulo-oferta h2{
        font-size: 40px;
        font-weight: 600;

    }
    .titulo-oferta h3{
        font-size: 30px;
    }
    .oferta{
        margin: 25px;
        width: 375px;
    }
    .oferta-info {
        width: 225px;
    }
    /**Ofertas**/
    .container-oferta{
            top: 50px;
        }
    .titulo-oferta h2{
        font-size: 70px;
        font-weight: 600;
    }
    .titulo-oferta h3{
        font-size: 40px;
    }
    .oferta{
        margin: 25px;
        width: 376px;
    }
    .oferta h5{
        font-weight: 500;
        font-size: 12px;
    }
    .oferta p{
        font-size: 11px;
        font-weight: 300;
    }
    .oferta-info {
        width: 267px;
        height: 135px;
        padding: 15px;
        overflow: hidden;
    }
    .contenedorBoton {
        width: 110px;
    }
    .contenedorBoton .botonCompra{
        width: 80px;
        height: 43px;
    }
    .disclaimer-oferta{
        padding: 10px;
        text-align: center;
    }
    /**Vuelos Internacionales**/
    .titulo-vuelos-internacionales{
        font-size: 20px;
        top: 40px;
        margin-bottom: 20px;
    }
    .vuelos-internacionales{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    /**Vuelos Nacionales**/
    .titulo-vuelos-nacionales .container-vuelos{
        top: 20px;
    }
    .titulo-vuelos-nacionales{
        height: 100px;
    }
    .container-vuelos .titulo-reseña{
        font-size: 25px;
    }
    .titulo-vuelos-nacionales h2{
        font-size: 30px;
        font-weight: 600;
        }
    .reseña-vuelo-nacional{
        flex-wrap: wrap;
        gap: 10px;
    }
    .subtitulo-vuelos-nacionales h3{
        padding-top: 40px;
        font-size: 55px;
    }
}

