@media screen and (max-width:480px){
    .navBar {
        align-items: stretch;
        justify-content: space-evenly;
    }
    .menue-izquierda{
        float: left;
        img{
            width: 40px;
            height: 40px;
        }
    }
    
    .menu-derecha{
        flex-direction: column;
        .menu-cen{
            flex-direction: column;
            gap: 0px;
            li{
                font-size: 12px;
            }
        }
        .navBar .menu-derecha a{
            float: none;
            font-size: 8px;
            padding: 4px 6px;
        }
        
    }
    .contenedorDest{
        display: flex;
        flex-wrap: wrap;
    }
    /**Pagina Inicio/Destinos-chile-jujuy-peru-bariloche**/
    .contenedorDest{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0%;
    }  
    .container-boton-destinos{
        margin-top: 200px;
        gap: 0%;
    }
    .container-boton-destinos1{
        margin-top: 220px;
        gap: 0%;
    }
    .compraDiv {
        width: 60px;
        height: auto;
        margin-left: 10px;
    }
    .destino{
        width: 250px;
        height: 400px;
    }
    .destino .card-img {
        width: 250px;
        height: 350px;
    }
    .dest-info{
        width: 250px;
        height: 90px;
    }
    .compraDiv div{
        width: 100px;
        height: 100px;
    }
    .container-boton-destinos .compraDiv p:nth-child(2) {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .1875rem;
    }
    .container-boton-destinos .compraDiv p:nth-child(3){
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .1875rem;
    }
    .container-boton-destinos1 .compraDiv p:nth-child(2) {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .1875rem;
    }
    .container-boton-destinos1 .compraDiv p:nth-child(3){
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .1875rem;
    }
    /**Boton Compra Inicio-index-destinos sugeridos**/
    .container-boton-destinos .botonCompra{
        width: 100px;
        height: 50px;
    }
    .container-boton-destinos .botonCompra p{
        font-size: 15px;
    }
    .container-boton-destinos1 .botonCompra{
        width: 100px;
        height: 50px;
    }
    .container-boton-destinos1 .botonCompra p{
        font-size: 15px;
    }
    .contenedorBoton .botonCompra{
        width: 100px;
        height: 50px;
        padding: 1px;
    }
    .disclaimer-oferta{
        padding: 10px;
        text-align: center;
    }
    .contenedorBoton .precio-oferta{
        font-size: 16px;
    }
    .text-oferta{
        font-size: 11px;
    }
    .text-rebaja {
        margin: 7px;
        font-size: 10px;
    }
    .divInfo{
        margin-top: 100px;
    }
    .paisDest{
        margin: 0%;
        font-size: 13px;
    }
    .ciudadDest{
        font-size: 35px;
    }
    .contDestino p{
        width: 150px;
        height: auto;
    }
    .desCiudad{
        font-size: 13px;
    }
    .dest-info .dest-pais{
        font-size: 20px;
    } 
    .dest-info .dest-ciudad {
        font-size: 30px;
    }
    /**HOTEL**/
    .divHotel{
        width: 100%;
        height: 350px;

        .card-hotel{
            .textoDiv{ 
                display: flex;
                flex-direction: column;
                gap: 20px;
                .tituloHotel{
                    font-size: 70px;
                    font-weight: 700;
                }
                .parrafoHotel{
                    font-size: 13px;
                    letter-spacing: 3px;
                    font-weight: 600;
                }
            }
        }
    }
    
    .cliente p{
        padding: 10px;
    }
    .reseña{
        gap: 15px;
    }

    .container-hoteles{
        grid-template-columns: 1fr ;
        top: 10px;
    }
    .div-img-cliente{
        padding: 22px 22px;
    }

    .hotel{
        margin-bottom: 0px;
        width: 380px;
        height: 500px;
    }
    /**Ofertas**/
    .titulo-oferta h2{
        font-size: 40px;
        font-weight: 600;

    }
    .titulo-oferta h3{
        font-size: 30px;
    }
    .oferta{
        margin: 25px;
        width: 375px;
    }
    .oferta-info {
        width: 225px;
    }
    /**Ofertas**/
    .container-oferta{
            top: 50px;
        }
    .titulo-oferta h2{
        font-size: 70px;
        font-weight: 600;
    }
    .titulo-oferta h3{
        font-size: 40px;
    }
    .oferta{
        margin: 25px;
        width: 376px;
    }
    .oferta h5{
        font-weight: 500;
        font-size: 12px;
    }
    .oferta p{
        font-size: 11px;
        font-weight: 300;
    }
    .oferta-info {
        width: 267px;
        height: 135px;
        padding: 15px;
        overflow: hidden;
    }
    .contenedorBoton {
        width: 110px;
    }
    .contenedorBoton .botonCompra{
        width: 80px;
        height: 43px;
    }
    .disclaimer-oferta{
        padding: 10px;
        text-align: center;
    }
    /**Vuelos Internacionales**/
    .titulo-vuelos-internacionales{
        font-size: 20px;
        top: 40px;
        margin-bottom: 20px;
    }
    .vuelos-internacionales{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    /**Vuelos Nacionales**/
    .titulo-vuelos-nacionales .container-vuelos{
        top: 20px;
    }
    .titulo-vuelos-nacionales{
        height: 100px;
    }
    .container-vuelos .titulo-reseña{
        font-size: 25px;
    }
    .titulo-vuelos-nacionales h2{
        font-size: 30px;
        font-weight: 600;
        }
    .reseña-vuelo-nacional{
        flex-wrap: wrap;
        gap: 10px;
    }
    .subtitulo-vuelos-nacionales h3{
        padding-top: 40px;
        font-size: 55px;
    }
/**form contacto**/
#contacto {
    width: 175px;
    padding: 5px;
}

.contenedorContacto #contacto{
    width: auto;
}

.contenedorContacto #contacto fieldset{
    width: auto;
    justify-content: center;
    align-items: center;
}
.contenedorContacto #contacto input[type="text"],
#contacto input[type="email"],
#contacto input[type="tel"],
#contacto textarea {
    width: 200px;
    background-color: white;
    margin: 10px;
    align-items: center;
}
.texto-contacto h1{
    font-size: 30px;
}
    .video-contacto{
        width: 150px;
        height: auto;
    }
/**form checkin**/
#checkin {
    width: 300px;
    height: 480px; 
    padding-top: 50px;
    margin-bottom: 0px;
    padding: 5px;
}

.contenedorContacto1 #checkin{
    width: 300px;
}

.contenedorContacto1 #checkin fieldset{
    width: auto;
    justify-content: center;
    align-items: center;
}

.contenedorContacto1 #checkin input[type="text"],
#checkin input[type="email"],
#checkin input[type="tel"],
#checkin textarea {
    width: 160px;
    padding: 4px;
    background-color: white;
    margin: 10px;
    align-items: center;
}
.texto-contacto{
    flex-direction: column;
}
.texto-contacto h4 {
    font-size: 20px;
}
.contenedorContacto1 h5{
    left: 8%;
}

.footer-arrepentimiento-info{
    margin: 20px;
}
}

