@media screen and (max-width:907px){
    .navBar{
        flex-direction: column;
    }
    .menu-cen{
        gap: 0px;
    }
    .menu-cen li{
        font-size: 15px;
    }
    .contenedorDest{
        display: flex;
        flex-wrap: wrap;
    }
    .formulario-vuelos{
        margin-top: 80px;
        position: relative;
        justify-content: center;
    }
    /**Pagina Inicio/Destinos-chile-jujuy-peru-bariloche**/
    .contenedorDest{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0%;
    }  
    .container-boton-destinos{
        margin-top: 150px;
        gap: 0%;
    }
    .container-boton-destinos1{
        margin-top: 100px;
        gap: 0%;
    }
    .compraDiv {
        width: 100px;
        height: auto;
        margin-left: 50px;
    }
    .destino{
        width: 300px;
        height: 400px;
    }
    .destino .card-img {
        width: 300px;
        height: 350px;
    }
    .dest-info{
        width: 300px;
        height: 90px;
    }
    .compraDiv div{
        width: 140px;
        height: 140px;
    }
    .container-boton-destinos .compraDiv p:nth-child(2) {
        font-size: 28px;
    }
    .container-boton-destinos .compraDiv p:nth-child(3){
        font-size: 28px;
    }
    .container-boton-destinos1 .compraDiv p:nth-child(2) {
        font-size: 28px;
    }
    .container-boton-destinos1 .compraDiv p:nth-child(3){
        font-size: 28px;
    }
    /**Boton Compra Inicio-index-destinos sugeridos**/
    .container-boton-destinos .botonCompra{
        width: 150px;
        height: 70px;
    }
    .container-boton-destinos .botonCompra p{
        font-size: 28px;
    }
    .container-boton-destinos1 .botonCompra{
        width: 130px;
        height: 70px;
    }
    .container-boton-destinos1 .botonCompra p{
        font-size: 22px;
    }
    .contenedorBoton .botonCompra{
        width: 130px;
        height: 70px;
        padding: 1px;
    }
    .disclaimer-oferta{
        padding: 10px;
        text-align: center;
    }
    .contenedorBoton .precio-oferta{
        font-size: 22px;
    }
    .text-oferta{
        font-size: 18px;
    }
    .text-rebaja {
        margin: 7px;
        font-size: 18px;
    }
    .divInfo{
        margin-top: 100px;
    }
    .paisDest{
        margin: 0%;
        font-size: 13px;
    }
    .ciudadDest{
        font-size: 35px;
    }
    .contDestino p{
        width: 150px;
        height: auto;
    }
    .desCiudad{
        font-size: 13px;
    }
    .dest-info .dest-pais{
        font-size: 20px;
    } 
    .dest-info .dest-ciudad {
        font-size: 30px;
    }

    /**HOTEL**/
    .divHotel{
        width: 100%;
        height: 500px;
        .card-hotel{
            .textoDiv{
                .tituloHotel{
                    font-size: 150px;
                }
                .parrafoHotel{
                    font-size: 25px;
                    letter-spacing: 10px;
                    top: 60px;
                }
            }
        }
    }
    .reseña{
        padding: 20px 20px;
        gap: 20px;
        flex-wrap: wrap;
    }
    .cliente{
        width: 250px;
        padding: 0px;
    }
    .container-hoteles{
        grid-template-columns: 1fr;
    }
    /**Ofertas**/
    .titulo-oferta h2{
        font-size: 100px;
        font-weight: 600;

    }
    .titulo-oferta h3{
        font-size: 60px;
    }
    .oferta{
        margin: 25px;
        width: 650px;
    }
    .oferta-info {
        width: 500px;
    }
    /**Vuelos Internacionales**/
    .titulo-vuelos-nacionales .container-vuelos{
        top: 80px;
    }
    .titulo-vuelos-internacionales{
        font-size: 35px;
        top: 80px;
    }
    .vuelos-internacionales{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    /**Vuelos Nacionales**/
    .titulo-vuelos-nacionales h2{
        font-size: 50px;
        font-weight: 600;
        }
}


