
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 



.bgFondo{
    max-width: 100vw;
    overflow-x: hidden;
    z-index: 1;
}

.bgCard{
    position: absolute;
    width: 100vw;
    height: 70%;
    justify-content: center;
    z-index: -1;
}

.bgCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bgCardVuelos{
    position: absolute;
    width: 100vw;
    height: 70vh;
    background: rgb(0,0,0);
    background-image:  radial-gradient(circle, rgba(0,0,0,0.25253851540616246) 20%, rgba(33,33,33,0.25253851540616246) 80%),
    url(../assets/img/fondo-vuelos.jpg);
    background-size: cover;
    background-position: top;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}

.bgCardInternacional{
    position: absolute;
    width: 100vw;
    height: 70vh;
    background: rgb(0,0,0);
    background-image:  radial-gradient(circle, rgba(0,0,0,0.25253851540616246) 20%, rgba(33,33,33,0.25253851540616246) 80%),
    url(../assets/img/fondo-marruecos.jpg);
    background-size: cover;
    background-position: top;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}

.bgCardVacaciones{
    position: absolute;
    width: 100vw;
    height: 70vh;
    background: rgb(0,0,0);
    background-image:  radial-gradient(circle, rgba(0,0,0,0.25253851540616246) 20%, rgba(33,33,33,0.25253851540616246) 80%),
    url(../assets/img/vacaciones-italia.jpg);
    background-size: cover;
    background-position: top;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}


.bgCardVacaciones img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-section {
    padding: 0 10px;
    margin: 0%;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 13px;
    color: #888;
    padding-top: 30px;
    margin-top: 300px;
}

.footer-arrepentimiento-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.footer-arrepentimiento-head{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 3%;
    div{
        width: 30px;
        height: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    p{
        font-size: 15px
    }
}


.footer-arrepentimiento-body{
    margin: 20px;
    padding: 0px 10px 20px;
    font-size: 15px;
}
.footer-arrepentimiento-body p:nth-child(1){
    padding: 5px;
}

.footer-arrepentimiento-body .btn-arrepentimiento{
    position: relative;
    color: #fff;
    background-color: #5966B1;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 14px;
    top: 20px;
}


.container-footer{
    display: flex;
    flex-direction: column;
}

.logo-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo-izq{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    a {
        p{
            display: inline-block;
        }
        color: #002727cc;
        text-decoration: none;
        font-size: 20px;
    }
}

.logo-izq:hover{
    transform: scale(0.95);
}

.footerIconos{
    display: flex;
    div{
        width: 160px;
        height: 30px;
        display: flex;
        gap: 20px;
        a{
            width: 30px;
            height: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.footerIconos a{
    display: flex;
    flex-direction: row;
}


.footerIconos a:hover{
    transform: scale(0.95);
}



.menu-footer{
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.footer-list .footer-list-item{
    list-style: none;
    margin: 5px;
}

.footer-list-item a{
    text-decoration: none;
    color: #888;
    &:hover{
        color: #c5c4c4;
    }
}


/* Reset */

