

.vacacionesContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.vacac-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
    border-radius: 13px;
    overflow: hidden;
    background-color: #fff;
}

.card-vacac-img{
    width: 400px;
    height: 300px;
}

.card-vacac-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vacac-container .card-vacac-img:hover{
    transform: scale(1.3) translateY(-30px) translateX(-25px); 
    transition: 500ms;
}

/**Texto paquete**/
    /*Rebaja*/
.text-paquete{
    position: absolute;
    width: 150px;
    height: 20px;
    top: 52%;
    left: 4%;
}

.text-paquete-rebaja{
    background-color: rgba(31, 109, 255, 0.979);
    color: #fff;
    border-radius: 10px;
    padding: 6px;
    font-size: 13px;
    text-align: center;
}


    /*Informacion*/
.paquete-info{
    position: relative;
    width: 300px;
    margin: 10px;
}

.paquete-info div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.salida{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    div{
        width: 30px;
        height: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.llegada{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    div{
        width: 30px;
        height: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/**Rating**/
.rating-paquete{
    position: absolute;
    display: flex;
    flex-direction: row;
    float: left;
    top: 58%;
    right: 3%;
    div{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        span{
            font-size: 15px;
        }
    }
}

/**Indicador de cuantas personas vieron este paquete**/
.visto-paquete{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    top: 62%;
    right: 1%;
    width: 80px;
    height: 20px;
    p{
        font-size: 11px;
    }
}

.visto-paquete div{
    width: 18px;
    height: 18px;
}

.visto-paquete div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/**Iconos**/
.icono-paquete{
    position: absolute;
    width: 80px;
    height: 30px;
    top: 70%;
}

.icono-paquete-img{
    display: flex;
    justify-content:  center;
    align-items: baseline;
}

.icono-paquete-img div:nth-child(1){
    width: 20px;
    height: 20px;
}

.icono-paquete-img div:nth-child(2){
    width: 25px;
    height: 25px;
}

.icono-paquete-img div:nth-child(3){
    width: 30px;
    height: 30px;
}


.icono-paquete-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.precio-oferta-paquete{
    font-size: 20px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.87);
}

.disclaimer-paquete{
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

