
/**Pagina Vuelos**/

.vuelo-titulo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.vuelo-titulo h2{
    font-size: 100px;
    text-align: center;
    color: white;
}